  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #797979;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  }
.logo {
  color: #000000;
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 2px;
}

input {
  background-color: #ffffff;
  border: none;
  padding: 10px 300px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  outline: none;
}
  .header h1 {
    margin: 0;
    font-size: 2rem;
  } 
.auth-buttons {
  display: flex;
  gap: 15px;
  margin-left: 20px;
}

/* Nút Đăng nhập (Nền trong suốt, chữ trắng) */
.btn-login {
  background-color: rgb(53, 52, 52);
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
}

.btn-login:hover {
  background-color: #ff2020;
}

/* Nút Đăng ký (Nền đỏ, */
.btn-register {
  background-color: rgb(53, 52, 52);  
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
}

.btn-register:hover {
  background-color: #ff1919;
}
.logo {
  cursor: pointer; /* Biến con trỏ chuột thành hình bàn tay */
  user-select: none; /* (Tùy chọn) Không cho bôi đen chữ này */
}

/* Hiệu ứng khi di chuột vào cho xịn hơn (Tùy chọn) */
.logo:hover {
  opacity: 0.8; /* Làm mờ nhẹ một chút để người dùng biết là bấm được */
}