  header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  background-color: #574444;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;   
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  height: 70px;
}

.logo {
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 2px;
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 40px;
  background-color: rgb(66, 66, 66);
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 5px 5px 50px rgba(255, 255, 255, 0.5);
}

input {
  background-color: #ffffff;
  border: none;
  padding: 10px 300px;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  outline: none;
}
  .header h1 {
    margin: 0;
    font-size: 2rem;
  } 
.auth-buttons {
  display: flex;
  gap: 15px;
  margin-left: 20px;
}

.btn-login {
   background-color: rgb(53, 52, 52);  
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
  box-shadow: 5px 5px 50px rgba(255, 255, 255, 0.5);
}

.btn-login:hover {
  background-color: #ff2020;
}

/* Nút Đăng ký (Nền đỏ, */
.btn-register {
  background-color: rgb(53, 52, 52);  
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
  box-shadow: 5px 5px 50px rgba(255, 255, 255, 0.5);
}

.btn-register:hover {
  background-color: #ff1919;
}
.logo {
  cursor: pointer; /* Biến con trỏ chuột thành hình bàn tay */
  user-select: none; /* (Tùy chọn) Không cho bôi đen chữ này */
}

.logo:hover {
  opacity: 0.8; /* Làm mờ nhẹ một chút để người dùng biết là bấm được */
}
.btn-update {
   background-color: rgb(0, 0, 0);  
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition: 0.3s;
}
.btn-update:hover {
  background-color: #ff2020;
}