<div class="detail-container" *ngIf="movie">
  <div class="backdrop" [style.backgroundImage]="'url(https://image.tmdb.org/t/p/original' + movie.backdrop_path + ')'"></div>

  <div class="content">
    <div class="poster">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" alt="{{ movie.title }}">
    </div>

    <div class="info">
      <h1>{{ movie.title }}</h1>
      <p class="tagline">{{ movie.tagline }}</p>
      
      <div class="meta">
        <span class="badge">{{ movie.release_date | date:'yyyy' }}</span>
        <span class="rating">⭐ {{ movie.vote_average }}/10</span>
        <span class="runtime">⏳ {{ movie.runtime }} phút</span>
      </div>

      <h2>Nội dung chính</h2>
      <p class="overview">{{ movie.overview }}</p>

      <div class="genres">
        <span *ngFor="let genre of movie.genres" class="genre-tag">
          {{ genre.name }}
        </span>
      </div>
        <div *ngIf="videoUrl; else noTrailer" class="video-container">
        <h3>Trailer Chính Thức</h3>
        <iframe 
          [src]="videoUrl" 
          width="100%" 
          height="400" 
          frameborder="0" 
          allowfullscreen>
        </iframe>
      </div>

      <ng-template #noTrailer>
        <button class="btn-watch">🚫 Chưa có Trailer</button>
      </ng-template>

      <a routerLink="/" class="btn-back">Quay lại</a>
    </div>
  </div>
</div>