
.login-bg {
  background-image: url('https://images.unsplash.com/photo-1489599849927-2ee91cede3ba?q=80&w=2070&auto=format&fit=crop');
  background-size: cover;       
  background-position: center;  
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.login-container {
 max-width: 700px;      
  margin: 50px auto;      
  padding: 60px;          
  background-color: rgba(255, 255, 255, 0.75); 
  border-radius: 30px;    
  color: white;           
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.5); 
}


h2 {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: left; 
  color: #000000; 
}


.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-size: 0.9rem;
  color: #000000; 
}

input {
  width: 100%;
  padding: 16px;
  background-color: #333; 
  border: none;
  border-radius: 14px;
  color: rgb(255, 255, 255, 0.55);
  font-size: 1rem;
  outline: none;    
  margin-bottom: 15px;   
  box-sizing: border-box;
}


input:focus {
  background-color: #454545;
  border-bottom: 2px solid #ffffff; 
}

/* 4. Nút bấm (Màu đỏ đặc trưng) */
.btn-submit {
  width: 100%;
  padding: 16px;
  background-color: #e50914; 
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn-submit:hover {
  background-color: #f40612; 
}

p {
  margin-top: 20px;
  color: #737373;
  font-size: 1rem;
}

a {
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline; 
}