<div class="container">
  <h1>Phim Thịnh Hành</h1>
  <div class="movie-list">  
    <div *ngFor="let movie of movies" class="movie-card">   
    <div class="movie-poster">
      <img [src]="'https://image.tmdb.org/t/p/w500' + movie.poster_path" 
           [alt]="movie.title">
      <div class ="movie-info">
      <h3>{{ movie.title }}</h3>
      <p>Điểm: {{ movie.vote_average }}</p>
    <a [routerLink]="['/movie', movie.id]">Xem chi tiết</a>
</div>
</div>  
</div>
 <div class="load-more-container">
  <button (click)="loadMore()" class="btn-load-more">Xem thêm phim</button>