:host {
    display: block;
    height: 100%;
   background-color: #3d3d3d;
    color: #000000;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h3 {
  color: #c73a3a;
  font-size: 44px;
  font-weight: bold;
  letter-spacing: 2px;
   display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: rgb(0, 0, 0);
  top: 0; 
  z-index: 100;
  box-shadow: 0 2px 5px rgba(0,0,0,0.5);
} 

.movie-list {
  display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #797979;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s; 
  cursor: pointer;
  padding :5px;
}

.movie-card:hover {
  transform: scale(1.05);
  border: 1px solid #fff;
}

.movie-card img {
  width: 100%;
  height: 400px;
  object-fit: cover; 
}

.movie-card h3 {
  font-size: 16px;
  margin: 10px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card p { 
  margin: 0 10px 15px;
  color: #000000;
  font-size: 14px;
}
.movie-card a {
   background-color: rgb(0, 0, 0);  
  color: white;
  border: none;
  padding: 7px 50px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  font-size: 1rem;
  transition: background 0.3s;
    display: flex;
    justify-content: center; /* Căn giữa ngang */
    align-items: center;     /* Căn giữa dọc (nếu có chiều cao) */
    height: 30px;    
    margin-top: -2s0px;
}

.movie-card a:hover {
  background: rgb(255, 0, 0);             /* Di chuột vào đổi màu nền */
  color: white;   /* Đổi màu chữ */
}

.load-more-container {
  text-align: center;
  margin: 40px 0;
}

.movie-card {
  transition: transform 0.2s;
  border: none;
}

.movie-card:hover {
  transform: translateY(-5px); /* Hiệu ứng nổi lên khi di chuột */
  box-shadow: 0 10px 20px rgba(0,0,0,0.15) !important;
}

.card-img-top {
  transition: transform 0.3s;
}