:host {
    display: block;
    height: 100%;
    background-color: rgb(51, 51, 51);
    color: #000000;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
}
.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  color:#ffffff;
  margin-bottom: 40px;
} 

.movie-list {
  display: grid;
   grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}

.movie-card {
  background-color: #797979;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s; 
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
  border: 1px solid #fff;
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover; 
}

.movie-card h3 {
  font-size: 16px;
  margin: 10px;
  white-space: nowrap; 
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card p {
  margin: 0 10px 15px;
  color: #000000;
  font-size: 14px;
}

/* Căn giữa nút */
.load-more-container {
  text-align: center;
  margin: 40px 0;
}

.btn-load-more {
  background-color: transparent;
  border: 5px solid #ffffff;    
  color: #fafafa;
  padding: 10px 30px;
  font-size: 1.1rem;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn-load-more:hover {
  background-color: #000000; 
  color: rgb(255, 255, 255);
}