/* src/app/components/search/search.component.css */

.container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  color: #f0eeee;
  margin-bottom: 20px;
}

.movie-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
}


.movie-card {
  background-color: #222;
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s;
  cursor: pointer;
}

.movie-card:hover {
  transform: scale(1.05);
  border: 1px solid #fff;
}

.movie-card img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.movie-card h3 {
  font-size: 16px;
  margin: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; 
}

.movie-card p {
  margin: 0 10px 15px;
  color: #aaa;
  font-size: 14px;
}